.header {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: center;
    grid-area: head;
}

@media only screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .logo {
        margin-left: 12px;
    }
}