.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 0.7rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar li:hover {
    color: #EE9972;
    text-shadow: 1px 1px 2px rgba(30,30,30,0.1);
}