.footer {
    grid-area: footer;
    background-color: #EDEFEE;
}

.footer .row{
    --gap: 20px;
    --columns: 4;
    gap: var(--gap);
}

.footer .col {
    width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));    
}

.footer .col a {
    margin-bottom: 6px;;
}

.footer .col>p {
    margin: 0;
    padding: 0;
    margin-bottom: 6px;;
}