.App {
  display: grid;
  grid-template-areas:  "head"
                        "main"
                        "footer";
  grid-template-rows: 1fr 12fr 3fr;
}

section {
  margin: 15px auto;
  padding: 20px 20vw;
}

h1, h2 {
  font-size: 48px;
  margin: 0;
}

h3, h4 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size:16px;
}

.main {
  grid-area: main;
}

/* common flex layout */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

/* @media screen and (max-width: 769px) {
  .row {
    flex-direction: column
  }
} */

.col {
  display: flex;
  flex-direction: column;  
}

@media screen and (max-width: 769px) {
  .col {
    width: 100% !important;
  }
}